<form action="{{ url_for('change_password') }}" method="post">
    <span class="text-font">Пароль:</span>
    <input type="password" name="new_password" placeholder="new password">
    <input type="password" name="old_password" placeholder="old password">
    <input class="btn" type="submit" value="Сохранить">
    {% if form == 'password' %}
        {% if result == 'false' %}
            <div class="failed-info-block">
                <span>Неправильный старый пароль, или некорректный новый.</span>
            </div>
        {% else %}
            <div class="succes-info-block">
                <span>Пароль успешно изменён.</span>
            </div>
        {% endif %}
    {% endif %}
</form>