{% extends "base.html" %}

{% block content %}
  <h2> Изменить пароль </h2>
  <form action="{{ url_for('change_password') }}" method="post">
    <p>
      Пароль : <input type="password" name="password" required><br>
    </p>
    <p>
      Новый пароль : <input type="password" name="new_password" minlength=8 required><br>
    </p>
    <input type="submit" value="Изменить">
    {% if error %}
    <div class="error">
      <p>Неверный пароль!</p>
    </div>
    {% endif %}
  </form>
{% endblock %}
