{% extends "head.html" %}

{% block body %}
	<div id='data' data-post="{{ url_for('game_room', room_id=room.id) }}"  data-room_id="{{ room.id }}"></div>

	<div class="game-room-header">
		{{ room['name'] }}
	</div>
	<div class="game-player-condition">
		<p id='your-turn'></p>
		<p id="turn-state"></p>
		<div class="binary-ps">
			<span id="wounded"></span>    
			<span id="carrying"></span>
		</div>
	</div>
	<div class="game-actions">
		<form action="{{ url_for('room_list', page=0) }}">
			<button name="leave_button" class="game-button">Покинуть игру</button>
		</form>
	</div>
	<div id='info' post="{{ url_for('game_room', room_id=room.id) }}"  room_id="{{ room.id }}"></div>
	<div class="game-main">
		<div id="log">
			{% for msg in msgs %}
				msg
			{% endfor %}
		</div>

		<div class="input-wrapper">
			<input id="input" size=50>
		</div>
		<div class="reminder">
			<ul>
				<li>Идти вверх(вправо, вниз, влево) - ход в указанном направлении.
				<li>Стрелять вверх(вправо, вниз, влево) - выстрел в указанном направлении.
				<li>Подорвать вверх(вправо, вниз, влево) - взрыв в указанном направлении.
			</ul>
		</div>
	  <div id="buttons_bar"></div>
	</div>
	<div class="players">
		{% for player in room.users %}
		<div class="player">
			{{ player }}
		</div>
		{% endfor %}
	</div>
	{% if room.description != None %}
		<div class="location">
			Description: {% autoescape false %}{{ room.description.split('\n') | join(' <br> ')}}{% endautoescape %}
		</div>
	{% endif %}
	<script src="{{ url_for('static', filename='js/game_room.js') }}"></script>
{% endblock %}