{% extends "base.html" %}

{% set show_sidebar_r = true %}
{% set ub__hide_play_button = true %}
{% block content %}
    <h2>Список комнат</h2>
    <div class="room-block-list">
        {% for room in rooms %}
            <div class="room-block" onclick="enterRoom('{{ room.id }}')">
                <div class="room-block-info">
                    <span class="name-large">{{ room.name }}</span>
                </div>
                <div class="room-block-enter">
                    <svg style="height: 100%; width: 100%;">
                        <defs>
                            <filter id="filter">
                            </filter>
                        </defs>
                        <polygon class="svg-fill-m1" points="0,0 100,0 100,200 0,0"/>
                        <g onclick="enterRoom('{{ room.id }}')">
                            <polygon class="svg-room-enter-btn" points="43,8 68,28 43,48"/>
                        </g>
                     </svg>
                </div>
            </div>
        {% endfor %}
        <script type="text/javascript">
            function enterRoom(roomId) {
                location.href = ('http://'+document.domain +':'+location.port +'/game_room/'+roomId)
            }
        </script>
    </div>
{% endblock %}

{% block ub__actions %}
    <form action="{{ url_for('create_room') }}">
        <button class="btn">Создать комнату</button>
    </form>
{% endblock %}
