{% extends "base.html" %}

{% set title = room.name %}

{% block content %}
    <div id='data' data-room_id="{{ room.id }}" data-post="{{ url_for('waiting_room', room_id=room.id) }}" data-start-redirect="{{ url_for('game_room', room_id=room.id) }}" data-del-redirecr="{{ url_for('room_list', page=0) }}"></div>

    <div> <!-- Шапка комнаты -->
        <span class="name-large">{{ room.name }}</span>
    </div>
    <div id="players_list"> <!-- Список с игроками -->
        {% include "rooms/_player_list.html" %}
    </div>
    <div> <!-- Чат -->
    </div>
    <div> <!-- Настройки -->
    </div>
{% endblock %}

{% set show_sidebar_r = true %}
{% set ub__hide_play_button = true %}
{% block sidebar_content %}
    <form>
        {% if username == room.creator %}
            <button class="btn" id="start_button">Начать</button>
        {% endif %}
        <button class="btn">Пригласить</button>
        <button class="btn" formaction="{{ url_for('room_list') }}">Выйти</button>
        {% if username == room.creator %}
            <button class="btn" id="settings_button">Настройки</button>
        {% endif %}
    </form>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/waiting_room.js') }}"></script>
{% endblock %}