html, body{
	background: rgb(249, 249, 249);
	margin-left: 10%;
	margin-right: 10%;
}

[class^='navbar'] {
	font-family: Verdana;
	color: rgb(128, 128, 255);
}

#logo {
	position: relative;
	float: left;
	font-size: 24pt;
}

.navbar-sidebar {
	position: absolute;
	top: 20%;
	left: 68%;
	background: rgb(230, 230, 230);
	height: 50%;
	width: 10%;
	padding: 2%;
}

.navbar-upper {
	height: 40px;
	text-align: right;
	background: rgb(220, 220, 220);
}



.news {
	position: absolute;
	width: 50%;
}

.header {
	color: rgb(255, 128, 128);
}

.create-room {
	position: absolute;
	top: 20%;
	left: 60%;
	width: 20%;
	background: rgb(230, 230, 230);
	color: rgb(128, 128, 255);
	height: 50%;
	padding-top: 5%;
	padding-left: 1%;
	padding-right: 1%;	
}

.rooms {
	position: absolute;
	top: 20%;
	height: 60%;
	width: 770px;
	background: rgb(230, 230, 230);
}

.room {
	width: 770px;
	border-bottom: 1px solid rgb(200, 200, 200);
}
		
.join_form {
	position: relative;
	float: right; 
	bottom: 20px;
}

.error {
	background: rgb(255, 200, 200);
	margin-top: 50px;
	padding: 1%;
	border: solid 1px rgb(255, 100, 100);
	color: rgb(255, 10, 10);
}

.action-link { 
  display: block;
  text-decoration: None;
}

.action-link:hover {
  background: rgb(128, 128, 255);
  color: rgb(230, 230, 230);
}

.room-name { 
  width: 20%;
  background: rgb(230, 230, 230);
  position: absolute;
  top: 0%;
  left: 40%;
  text-align: center;
}

.player-list {
  width: 33%;
  position: absolute;
  top: 0%;
  left: 0%;
  overflow: auto;
  border: 1px solid rgb(200, 200, 200);
}

.room-info {
  width: 33%;
  position: absolute;
  top: 0%;
  left: 33.5%;
}

.room-settings {
	display: none;
	width: 33%;
  position: absolute;
  top: 0%;
  left: 33.5%;
}

.room-data-wrapper {
  background: rgb(230, 230, 230);
  color: rgb(128, 128, 255);
  position: absolute;
  top: 20%;
  height: 50%;
  width: 60%;
  left: 20%;
  font-family: Verdana;
}

.room-actions {
  position: absolute;
  left: 67%;
  width: 33%;
}

/* Ниже - стили комнаты игры. Их надо будет перенести в новый дизайн целиком */

.game-room-header {
	margin-left: 0% !important;
	margin-right: 0% !important;
	background-color: rgb(138, 45, 242);
	height: 54px;
	font-family: Verdana;
	text-align: center;
	color: white;
	font-size: 24pt;
}

.game-player-condition {
	position: absolute;
	top: 20%;
	width: 15%;
	height: 20%;
	font-family: Georgia;
	border: 1px solid #ba55d3;
	text-align: center;
	left: 10%;
}



.game-actions {
	position: absolute;
	bottom: 20%;
	border: 1px solid #ba55d3;
	height: 20%;
	width: 15%;
	left: 10%;
}

.game-button {
	position: absolute;
	left: 10%;
	top: 10%;
	background-color: rgb(138, 45, 242);
	height: 33%;
	border-radius: 10%;
	-webkit-border-radius: 10%;
	color: white;
	width: 80%;
	font-size: 16pt;
}

.game-main {
	position: absolute;
	top: 20%;
	height: 60%;
	border: 1px solid #ba55d3;
	width: 40%;
	left: 30%;
}

#log {
	border-bottom: 1px solid #ba55d3;
	position: relative;
	height: 66%;
	width: 100%;
	overflow: auto;
}

.input-wrapper {
	border-bottom: 1px solid #ba55d3;
	height: 5%;
}

#input {
	position: relative;
	left: 15%;
	top: 15%;
}

.location {
	position: absolute;
	top: 20%;
	width: 15%;
	height: 20%;
	font-family: Georgia;
	border: 1px solid #ba55d3;
	text-align: center;
	right: 10%;
}

.players {
	position: absolute;
	bottom: 20%;
	border: 1px solid #ba55d3;
	height: 20%;
	width: 15%;
	right: 10%;
	overflow: auto;
}

.player {
	border-bottom: 1px solid #ba55d3;
}