html, body {
  margin-left: 10%;
  margin-right: 10%;
  background: rgb(250, 250, 250);
}

body:first-child {
  margin-left: 0%;
  margin-right: 0%;
  background: rgb(138, 45, 242);
}

.profile {
  position: absolute;
  left: 75%;
  top: 0%;
  width: 15%;
}

.profile a {
  color: rgb(255, 255, 255);
}

.profile a:hover {
  background-image: -moz-radial-gradient(center, ellipse, rgb(138, 45, 242), 0%, cover);
  text-decoration: none;
}

.profile-menu {
  position: absolute;
  top: 100%;
  width: 100%;
  border: 1px solid rgb(246, 241, 250);
  visibility: hidden;
  background: rgb(250, 250, 250);
}

.profile:hover > .profile-menu
.profile:focus > .profile-menu
.profile:focus-within > .profile-menu {
  visibility: visible;
}

