@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Ubuntu');
:root {
	/* green*/
	/*--clr-m1: #3bb34a;*/
	/*purple*/
	--clr-m1: #ae0fff;
	--clr-c1: #ffdc4b;

	--font-text: 'Ubuntu', serif;
	--font-logo: 'Roboto Slab', serif;
}