.wroom-clmn-fixed {
	margin: 0;
}

.wroom-clmn-grow {
	flex-grow: 1;
	align-content: stretch;
}

.wroom-chat-info {
	margin-left: 5px;
}

.wroom-chat-info p {
	font-family: var(--font-text);
	font-size: 12pt;
	text-align: justify;
	margin-top: 5px;
	margin-right: 10px;
}

.wroom-chat-msgs {
	margin-top: 10px;
	max-height: 500px;
	overflow-y: scroll;
}

.wroom-header {
	margin-bottom: 20px;
	justify-content: flex-end;
}

.scroller::-webkit-scrollbar-track {
}

.scroller::-webkit-scrollbar {
	width: 5px;
}

.scroller::-webkit-scrollbar-thumb {
	background-color: var(--clr-m1);	
}


.chat-input {
	margin-top: 10px;
	font-size: 12pt;
	overflow-x: hidden;
	font-family: var(--font-text);
	border: 1px solid grey;
	/*border-radius: 2px;*/
	word-break: break-all;
	max-height: 120px;
	padding-left: 4px;
	padding-right: 4px;
	line-height: 25px;
}

.chat-input:focus {
	outline: none;
}

.chat-input.chat-input-show-placeholder:after {
    content:attr(data-placeholder);
    color: grey;
}

.chat-input:focus:after {
	content: '';
}

.save_roomname{
	margin-left: 10px;
}



.edit-icon {
	fill: grey;
}

.edit-icon:hover {
	fill: var(--clr-m1-d);
}

.input-on-focus {
	border-width: 0;
	background: inherit;
}

.input-on-focus:focus {
	outline: none;
}