<div class="user-block">
    <div class="user-block-ava">
        <a href="{{ url_for('profile') }}" class="user-ava-btn">
            <img class="user-ava-large" src="{{ user_ava }}">
        </a>
    </div>
    <div class="user-block-info">
        <div class="user-block-info-username">
            <span class="name-large">{{ username }}</span>
        </div>
    </div>
    {% if ub__show_play_button %}
        <form action="{{ url_for('room_list', page=0) }}">
            <button class="btn">Играть!</button>
        </form>
    {% endif %}
</div>