{% extends "head.html" %}

{% block body %}
    {% if not hide_header %}
        <div class="header logo-font">
            <a id="logo" href="{{ url_for('index') }}">ЛАБИРИНТ</a>
            {% if username == None %}
                <a href="{{ url_for('register') }}">Регистрация</a>
            {% else %}
                <a href="{{ url_for('logout') }}">Выход</a>
            {% endif %} 
            {% if not homepage %}
                <a href="{{ url_for('index') }}">На главную</a>
            {% endif %}
            <a href="{{ url_for('rules') }}">Помощь</a>   
        </div>
    {% endif %}
    <table class="content"><tr>
        <td class="content-main">
            {% block content %}{% endblock %}
        </td>
        {% if show_sidebar_r %}
            <td class="sidebar-r">
                <div id="sidebar-content">
                    {% if username %}
                        {% include "_user_block.html" %}
                    {% else %}
                        {% include "_login_block.html" %}
                    {% endif %}
                    {% block sidebar_content %}{% endblock %}
                </div>
                <script type="text/javascript">
                    jQuery(function($) {
                        $(window).scroll(function(){
                            if($(this).scrollTop()>120){
                                $('#sidebar-content').addClass('fixed');
                            }
                            else if ($(this).scrollTop()<120){
                                $('#sidebar-content').removeClass('fixed');
                            }
                        });
                    });
                </script>
            </td>
        {% endif %}
    </tr></table>
{% endblock %}
