{% extends "head.html" %}

{% block body %}
    {% if not hide_header %}
        <div class="header logo-font">
            <a id="logo" href="{{ url_for('index') }}">ЛАБИРИНТ</a>
            {% if username == None %}
                <a href="{{ url_for('register') }}">Регистрация</a>
            {% else %}
                <a href="{{ url_for('logout') }}">Выход</a>
            {% endif %} 
            {% if not homepage %}
                <a href="{{ url_for('index') }}">На главную</a>
            {% endif %}
            <a href="{{ url_for('rules') }}">Помощь</a>   
        </div>
    {% endif %}
    <div class="content">
        {% if show_sidebar_r %}
            <div class="sidebar-r">
                {% if username %}
                    {% include "sidebar_r_user_block.html" %}
                {% else %}
                    {% include "sidebar_r_register.html" %}
                {% endif %}
            </div>
        {% endif %}
        <div class="content-main">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}
