<html>
	<head>
		<title>Либиринт</title>
	</head>
	<body>
		<div>
			{% if not is_enter %}
 				<a href="{{ url_for('login') }}"> Войти </a>
				<a href="{{ url_for('register') }}"> Регистрация </a>
			{% else %}
				{% if not is_index %}
					<a href="{{ url_for('index') }}"> Домой </a>
				{% endif %}
				<a href="{{ url_for('rules') }}"> Правила </a>
				<a href="{{ url_for('profile') }}"> Профиль </a>
				<a href="{{ url_for('room_list') }}"> Комнаты </a>
			{% endif %}
		</div>
		<hr>
		{% block content %}{% endblock %}
	</body>
</html>