<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}" />
    <title>Лабиринт</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/light.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/buttons.css') }}">
    <script src="{{ url_for('static', filename='js/toggle.js') }}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Marmelad" rel="stylesheet">
</head>
<body>
{% if not hide_header %}
    <div class="navbar-upper">
        <a id="logo" href="{{ url_for('index') }}">ЛАБИРИНТ</a>
        <a class="navbar-a" href="{{ url_for('index') }}">На главную</a>
        {% if username == None %}
            <a class="navbar-a" href="{{ url_for('register') }}">Регистрация</a>
        {% endif %}
    </div>
{% endif %}
<div class="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>
