{% extends "base.html" %}

{% set show_sidebar_r = true %}
{% block content %}
<div class="news text">
    <p>
        Привет!
    </p>
    <p>
        Лабиринт - это игра на несколько человек, среди которых есть ведущий.
        Мы решили эту проблему, и теперь вы можете играть в лабиринт без
        без необходимости просить кого-то придумать вам карту.
    </p>
    <p>
        Чтобы сыграть в лабиринт вам необходимо <span class="undone" title="Не готово!">пройти обучение</span>, прочитать 
        <a href="{{ url_for('rules') }}">правила</a>
        {% if username == None %}
            и <a href="{{ url_for('register') }}">зарегестрироваться</a>. <br>
            <span class="undone" title="Не готово!">Также вы можете начать играть с временным ником, чтобы
            зарегестрироваться позже</span>
        {% endif %}.
    </p>
</div>
{% endblock %}
