{% extends "base_with_header.html" %}

{% block content %}
	<div id='main'>
		<div>
			<form action="{{ url_for('create_room') }}">
				<button class='enter_button'>Create room!</button>
			</form>
		</div>
		<div class='rooms'>
			{% for i in pager %}
				<div class='room'>
					<h3>Комната {{ i[0] }}</h3>
					Игроки: {{ i[6] }}/{{ i[2] }}
					<form action="{{ url_for('room_list', page=0) }}" method='post' class='join_form'>
						<button value='{{ i[1] }}' name='join_button'>Join!</button>
					</form>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
