{% extends "base_with_header.html" %}

{% block content %}
	<div id='main'>
		<div class='rooms'>
			<h3> Пока не готово! =( </h3>
		</div>
		<aside class='create-room'>
			{% if username == None %}
				<form class='loginform' action="{{ url_for('login') }}" method='post'>
					Имя: <input type="text" name="login" minlength=4 required><br>
					Пароль: <input type='password' name='password' minlength=8 required><br>
					<input type='submit' value='Войти'>
				</form>
			{% else %}
				<form action="{{ url_for('index') }}" method='post'>
					Ссылка на комнату: labyrinth.xyz/<input type='text' name='joinlink' minlength=4 required><br>
					Количество игроков(от 3 до 8): <input type='number' min='3' max='8' value='4'><br>
					<!-- Карта: реализация этой формы, скорее всего, потребует жаваскрипта, а я его еще не начинал учить -->
					<input type='submit' value='Создать комнату!'>
				</form>
			{% endif %}
			<a href="{{ url_for('rules') }}">Правила</a>
		</aside>
{% endblock %}
