{% extends "base.html" %}

{% block content %}
  <p> Поле имеет размер 4x5. Оно окружено стенами, но есть одно ребро внешней клетки, на котором нет стены. <br>
  Каждая его клетка обладает какими-то свойствами. В начале игры:</p>

  <ul>
    <li>Ведущий создает поле и никому его не показывает.</li>
    <li>Игроки последовательно выбирают свои стартовые координаты</li>
    <li>Ведущий сообщает им тип клетки, в которой они начинают игру.</li>
  </ul>

  <p>После этого игроки последовательно совершают ходы. Допустимые ходы:</p>

  <ul>
    <li>перемещение на соседнюю по стороне клетку</li>
    <li>Выстрел в одном из соседних по стороне направлений(тратит 1 пулю)</li>
    <li>Подрыв стены на одном из соседних направлений.(тратит 1 бомбу)</li>
  </ul>

  <p>После получения хода игрока ведущий сообщает игроку результат хода. 
  Возможные результаты:</p>

  <ul>
    <li>Перемещение: тип клетки, куда попал игрок, либо "Стена", если переместиться невозможно из-за стены. </li>
    <li>Выстрел: пуля летит в указанном при выстреле направлении до встречи со стеной. Все игроки, через которых она прошла, ранены.<br>
      Результатом <хода является список раненных этой пулей игроков. </li>
    <li>Подрыв: "Взорвалась", если в направлении подрыва была стена, и она не была внешней, и "Не взорвалась" в противном случае.<br>
      Если стена взорвалась, ведущий убирает ее с поля. </li>
  </ul>

  <p>
  Если игрок ранен, он бросает клад и не может его нести. Если раненый игрок должен получить еще одну рану, <br>
  он умирает и игра для него заканчивается. <br>
  Игра заканчивается, если все игроки убиты или кто-то из них вынес настоящий клад из лабиринта через выход. 
  </p>

  <p>Типы клеток: </p>

  <ul>
    <li>Клад. На поле находятся две клетки с кладом - один из них настоящий, а второй ложный. <br>
      Побеждает только тот, кто выносит из лабиринта истинный клад.</li>
    <li>Река. У реки есть направление, в котором она перемещает попавшего в нее игрока на 1 клетку. <br>
      Река ведет к устью, и результатом хода является "река-река", если игрок был перемещен в реку, <br>
      и "река-устье", если он был перемещен в устье. </li>
    <li>Устье. Это клетка, находящаяся в конце реки. Она не перемещает попавшего в нее игрока.</li>
    <li>Яма. У каждой ямы есть номер. Попадание в яму мгновенно перемещет игрока в яму с номером, большим на 1. <br>
      Также в яме доступен еще один ход - ход в яму с номером, большим на 1.</li>
    <li>Арсенал. Попавший в эту клетку игрок восстанавливает свой начальный боезапас(3 пули и 3 бомбы)</li>
    <li>Медпункт. Попавший в эту клетку раненый игрок лечится. </li>
    <li>Медведь. Медведь каждый ход повторяет ход игрока, если это - перемещение на соседнюю клетку. <br>
      Реки и ямы перемещают его так же, как и игрока. Если медведь окажется на той же клетке, что и игрок, <br>
      этот игрок получает рану.</li>
  </ul>
{% endblock %}