<div class="user-block">
    <div class="user-block-ava">
        <a href="{{ url_for('profile') }}" class="user-ava-btn">
            <img class="user-ava-large" src="{{ user_ava }}">
        </a>
    </div>
    <div class="user-block-info">
        <div class="user-block-info-username">
            <span class="username-large">{{ username }}</span>
        </div>
    </div>
    <form action="{{ url_for('room_list', page=0) }}">
        <button class="start-game-btn">Играть!</button>
    </form>
</div>