<div class="register-block">
        <h2> Войти </h2>
        <form action="{{ url_for('login') }}" method="post">
        <p>
            Имя : <input type="text" name="login" minlength=4 required><br>
        </p>
        <p>
            Пароль : <input type="password" name="password" minlength=8 required><br>
        </p>
        <input type="submit" value="Войти">
        </form>
        {% if reg_error %}
            <div class="error">
                <p>Неверный логин или пароль!</p>
            </div>
        {% endif %}
<form action="{{ url_for('room_list', page=0) }}">
    <button class="start-game-btn">Играть!</button>
</form>
</div>