{% extends "base_with_header.html" %}

{% block content %}
	<h1 id="title">Room {{ room_name }}</h1>
	<div id="players">
	</div>
	Имя комнаты:<input type="text" id="room_name"/>
	<script>
		var changeNameInput = document.getElementById('room_name');
		function changeName(event) {
			if (event.keyCode == 13){
				var xhr = new XMLHttpRequest();
				var newName = document.getElementById('room_name');

				xhr.open('POST', "{{ url_for('waiting_room', room_id=room_id) }}", false);
				xhr.setRequestHeader('Event-Type', 'change_name');
				xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
				xhr.send("new_name=" + newName.value);
			};
		};

		var socket = io.connect('http://' + document.domain + ':' + location.port + '/wrws');
		socket.on('update', function(msg) {
			switch (msg.event) {
				case 'player_enter_or_leave' :
					var players = document.getElementById('players');
					players.innerHTML = ('<p>' + msg.players + '</p>');
					break;
				case 'change_name':
					var title = document.getElementById('title');
					title.innerHTML = ('Room ' + msg.room_name);
					break;
			};
		});
		socket.on('connect', function() {
			socket.emit('player join', {'room_id': '{{ room_id }}'});
		});

		var changeNameInput = document.getElementById('room_name');
		changeNameInput.onkeydown = changeName;
	</script>
{% endblock %}