<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/light.css') }}">
    <title>Лабиринт</title>
  </head>
  <body>
    <script>
      function ShowSettings() {
        var roominfo = document.getElementById("room-info") value
        roominfo.InnerHTML="Тут будет форма выбора настроек, но я пока не понял, как можно ее запилить, не вбивая кучу HTML в одну строку"
      }
    </script>
    <header class='room-name'>{{ room['room_name'] }}</header>
    <div class='room-data-wrapper'>
    <div class='player-list'>
      {% for player in players %}
      <p class='player'>
        {{ player }}
      </p>
      <hr>
      {% endfor %}
    </div>
    <div id='room-info'>
      <p>
        Создана {{ room['timestamp'] }} пользователем {{ room['creator'] }}
      </p>
    </div>
    <!-- В #room-info при нажатии кнопки изменения настроек создателем будут настройки-->
    <div class='room-actions'>
      <a class='action-link' href="{{ url_for('leave_room') }}">ПОКИНУТЬ ИГРУ</a><br>
      {% if username = room['creator'] %}
      <a class='action-link' href="{{ url_for('delete_room') }}">УДАЛИТЬ КОМНАТУ</a><br>
      <a class='action-link' href="{{ url_for('start_game') }}">НАЧАТЬ ИГРУ</a><br>
      <span class='action-link' onClick=ShowSettings()>НАСТРОЙКИ КОМНАТЫ</span><br>
      {% endif %}
    </div>
    </div>
  </body>
</html>